<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sing_up_style.css">
    <title>login</title>
</head>
<body>
    <nav>
        <div class="menu">
          <ul>
            <img class="logo-img" src="../static/images/site-img/logo.png" />
            <li><a href="#">HOME</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">WINE</a></li>
            <li><a href="#">SPARKLING</a></li>
            <li><a href="#">MY ACCOUNT</a></li>
            <li><a href="#">OUR STORY</a></li>
            <li><a href="#">FIND NEAR ME</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
          <div class="cart-acc-img">
            <img src="../static/images/site-img/cart_.svg.png" />
            <img src="../static/images/site-img/my-account.png" />
          </div>
        </div>

      </nav>

      <div class="login-form">
        <h1>Sing Up</h1>
        <form method="post">
            <div class="group">
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <div class="group">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div class="remember-me">
                <p>Remember Me</p>
                <input type="checkbox" name="remember-me">
            </div>

            <button type="submit">Create Account</button>
            <a class="create-account" href="#">Login</a>
        </form>

      </div>


</body>
</html>