html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f5f7f9;
}

/*editing navigation panel*/

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li{
    margin-top: 35px;
    margin-right: 30px;
}
  
nav a{
    color: #483e3e;
    text-decoration: none;
    font-size: 16px;
    /* background-color: #FFFFFF; */
    border-radius: 4px;
    
}

nav a:hover {
    background-color: #483e3e; /* Цвет фона при наведении курсора */
    color: #FFFFFF;
}

nav img{
    width: auto;
    height: 80px;
    margin-right: 20px;
}