{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ wine.name }}</title>
    <link rel="stylesheet" href="{% static 'shop/styles/product.css' %}" />
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/footer_style.css' %}"/>
    <!--adding favicon of site-->
    <link rel="icon" href="{% static 'shop/images/site-img/logo.png' %}" type="image/png" />
  </head>
  <body>

    {% include 'base/navigation_menu.html' %}

    <div class="product">
      <img src="{{ wine.image.url }}" class="prod-img" />

      <p class="situated">Home / {{ wine.category }} / {{ wine.name }}</p>
      <p class="categ1">{{ wine.category }}</p>
      <h2 class="name">{{ wine.name }}</h2>
      <h4 class="price">${{ wine.price }}.00</h4>
      <p class="shiping">+ Free Shipping</p>
      
      <form action="#" method="post">
        <input id="quality" value="1" type="number">

        <button class="btn1">
          <a href="#">ADD TO CART</a>
        </button>
      </form>
      <p class="categ2">Category: Wine</p>
    </div>
    <hr>
    <div class="two-block">
      <div class="reviews">
        <p class="reviws">Reviews (4)</p>
        <div class="all-reviews">

        {% for numbs in '123' %}
          <div class="each-review">
            <img src="{% static 'shop/images/site-img/avatar-review.png' %}">
            <div class="right-colum">
              <p>Riki Morty</p>
              <p>15.05.2023</p>
              <p>
                It's so cute product. I realy liked it and recommended
              </p>
            </div>
          </div>
        {% endfor %}
        </div>


        <div class="write-review">
          <p>Add a review to La Fleur Lily</p>
          <form action="#" method="post" id="review-from">
            <input id="name-review" type="text" placeholder="Write your name">
            <input id="review-review" type="text" placeholder="Write your Review">
            <button type="submit" id="submit-review">Submit my review</button>
          </form>
        </div>
      </div>
      
      <h2 class="related-prod">Related products</h2>

      <div class="proucts-shop">
        
      {% for numb in '123' %}
        <div class="product-card">
            <a href="#">
                <img src="{% static 'shop/images/products-img/2.png' %}" alt="Wait please" />
              </a>
              <div class="info-product-shop">
                <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                <p class="product-category">Wine</p>
                <p class="product-price">$15.00</p>
                <div class="review">
                  <p>stars</p>
                  <div class="stars-img">
                  {% for numb in '12345' %}
                    <img src="{% static 'shop/images/site-img/star-photo-review.svg' %}"/>
                  {% endfor %}
                  </div>
                </div>
              </div>
        </div>
      {% endfor %}


      </div>
    </div>

    {% include 'base/footer.html' %}

  </body>
</html>
