<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel='stylesheet' href="../static/styles/shopstyle.css"/>
</head>
<body>
    <nav>
        <div class="menu">
            <ul>
              <img class="logo-img" src="../static/images/site-img/logo.png"/>
              <li><a href="file:///D:/programs/site1/index.html">HOME</a></li>
              <li><a href="file:///D:/programs/site1/shop.html">SHOP</a></li>
              <li><a href="#">WINE</a></li>
              <li><a href="#">SPARKLING</a></li>
              <li><a href="#">MY ACCOUNT</a></li>
              <li><a href="#">OUR STORY</a></li>
              <li><a href="#">FIND NEAR ME</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
            <div class="cart-acc-img">
                <img src="../static/images/site-img/cart_.svg.png"/>
                <img src="../static/images/site-img/my-account.png"/>
            </div>
        </div>

        <hr class="horizontal-line-menu"/>
    </nav>

      <div class="main-content">

        <div class="left-block">
            <form class="search-prod-form">
                <input type="text" id="search-prod" name="search-prod" placeholder="Search products..">
                <button class="btn-search" type="submit">></button>
            </form>

            <div class="categories">
                <p class="title">Categories</p>
                <p class="sparkling-cat">Sparkling  (4)</p>
                <p class="wine-cat">Wine    (8)</p>
            </div>

            <div class="best-sellers">
                <p class="title">Our Best Sellers</p>

                <div class="products-list">

                    <div class="card">
                        <img class="product-img" src="../static/images/products-img/2.png"/>
                        <div class="info-product-shop">
                            <span class="name-prod">La Fleur Lily Red dry</span>
                            <div class="stars">
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                            </div>
                            <span class="price">$15.00</span>
                        </div>
                        
                    </div>
                    <hr class="horizontal-line-menu"/>

                    <div class="card">
                        <img class="product-img" src="../static/images/products-img/2.png"/>
                        <div class="info-product-shop">
                            <span class="name-prod">La Fleur Lily Red dry</span>
                            <div class="stars">
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                            </div>
                            <span class="price">$15.00</span>
                        </div>
                        
                    </div>
                    <hr class="horizontal-line-menu"/>


                    <div class="card">
                        <img class="product-img" src="../static/images/products-img/2.png"/>
                        <div class="info-product">
                            <span class="name-prod">La Fleur Lily Red dry</span>
                            <div class="stars">
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                            </div>
                            <span class="price">$15.00</span>
                        </div>
                        
                    </div>
                    <hr class="horizontal-line-menu"/>


                    <div class="card">
                        <img class="product-img" src="../static/images/products-img/2.png"/>
                        <div class="info-product">
                            <span class="name-prod">La Fleur Lily Red dry</span>
                            <div class="stars">
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                            </div>
                            <span class="price">$15.00</span>
                        </div>
                        
                    </div>
                    <hr class="horizontal-line-menu"/>

                    <div class="card">
                        <img class="product-img" src="../static/images/products-img/2.png"/>
                        <div class="info-product">
                            <span class="name-prod">La Fleur Lily Red dry</span>
                            <div class="stars">
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                                <img src="../static/images/site-img/star-photo-review.svg"/>
                            </div>
                            <span class="price">$15.00</span>
                        </div>
                        
                    </div>
    

                </div>

            </div>

        </div>

        <div class="right-block">
            <div class="head-rightcolum">

              <p class="results">Showing all 12 results</p>
              
              <form class="ordering-form" method="get">
                <select name='ordering-by' class="sorting">
                  <option value="menu" selected="selected">Sorting by Default</option>
                  <option value="popularity">By popularity</option>
                  <option value="price-up">By Price Low -> High</option>
                  <option value="price-low">By Price High -> Low</option>
                </select>
                <input type="hidden" name="paged" value="1">
              </form>
            </div>

            <div class="proucts-shop">

                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>


                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>


                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>


                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>


                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>


                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="product-card">
                    <a href="#">
                        <img src="../static/images/products-img/2.png" alt="Wait please" />
                      </a>
                      <div class="info-product-shop">
                        <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
                        <p class="product-category">Wine</p>
                        <p class="product-price">$15.00</p>
                        <div class="review">
                          <p>stars</p>
                          <div class="stars-img">
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                            <img src="../static/images/site-img/star-photo-review.svg"/>
                          </div>
                        </div>
                      </div>
                </div>

            </div>

        </div>

      </div>

      <div class="footer">
        <div class="left-column">
          <div class="icons-footer">
            <a href="https://www.instagram.com/lafleurlilywine/">
              <img src="../static/images/site-img/icons-footer/instagram-footer.png">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100067500445783">
              <img src="../static/images/site-img/icons-footer/facebook-footer.svg">
            </a>
            <a href="https://www.pinterest.com/lafleurlilywine/">
              <img src="../static/images/site-img/icons-footer/pinterest-footer.svg">
            </a>
          </div>
          <p>Copyright © 2023 La Fluer Lily. Powered by La Fluer Lily.</p>
        </div>
  
        <div class="right-column">
          <h2>Subscribe</h2>
          <form>
            <input type="text" id="subscration" name="subscration" placeholder="Your email adress...">
            <button type="submit" class="subs-btn">Subscribe</button>
          </form>
        </div>
      </div>

</body>
</html>