{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine category</title>
    <link rel="stylesheet" href="{% static 'shop/styles/sparkling-style.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/navigation_menu_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'base/footer_style.css' %}"/>
  </head>
  <body>
    {% include 'base/navigation_menu.html' %}

    <div class="main-content">
      <div class="left-block">
        <form class="search-prod-form">
          <input
            type="text"
            id="search-prod"
            name="search-prod"
            placeholder="Search products.."
          />
          <button class="btn-search" type="submit">></button>
        </form>

        <div class="categories">
          <p class="title">Categories</p>
          <p class="sparkling-cat">Sparkling (4)</p>
          <p class="wine-cat">Wine (8)</p>
        </div>

        <div class="best-sellers">
          <p class="title">Our Best Sellers</p>

          <div class="products-list">
            <div class="card">
              <img
                class="product-img"
                src="../static/images/products-img/2.png"
              />
              <div class="info-product-shop">
                <span class="name-prod">La Fleur Lily Red dry</span>
                <div class="stars">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
                <span class="price">$15.00</span>
              </div>
            </div>
            <hr class="horizontal-line-menu" />

            <div class="card">
              <img
                class="product-img"
                src="../static/images/products-img/2.png"
              />
              <div class="info-product-shop">
                <span class="name-prod">La Fleur Lily Red dry</span>
                <div class="stars">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
                <span class="price">$15.00</span>
              </div>
            </div>
            <hr class="horizontal-line-menu" />

            <div class="card">
              <img
                class="product-img"
                src="../static/images/products-img/2.png"
              />
              <div class="info-product">
                <span class="name-prod">La Fleur Lily Red dry</span>
                <div class="stars">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
                <span class="price">$15.00</span>
              </div>
            </div>
            <hr class="horizontal-line-menu" />

            <div class="card">
              <img
                class="product-img"
                src="../static/images/products-img/2.png"
              />
              <div class="info-product">
                <span class="name-prod">La Fleur Lily Red dry</span>
                <div class="stars">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
                <span class="price">$15.00</span>
              </div>
            </div>
            <hr class="horizontal-line-menu" />

            <div class="card">
              <img
                class="product-img"
                src="../static/images/products-img/2.png"
              />
              <div class="info-product">
                <span class="name-prod">La Fleur Lily Red dry</span>
                <div class="stars">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
                <span class="price">$15.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-block">
        <div class="head-category">
          <h1>Sparkling</h1>
          <p>
            Welcome to our sparkling wine collection, where passion and
            craftsmanship come together to create a delightful journey for your
            senses. Explore our carefully curated selection of sparkling wines,
            each offering a distinct experience and flavor profile that will
            captivate both connoisseurs and newcomers alike.
          </p>
        </div>

        <div class="head-rightcolum">
          <p class="results">Showing all 12 results</p>

          <form class="ordering-form" method="get">
            <select name="ordering-by" class="sorting">
              <option value="menu" selected="selected">
                Sorting by Default
              </option>
              <option value="popularity">By popularity</option>
              <option value="price-up">By Price Low -> High</option>
              <option value="price-low">By Price High -> Low</option>
            </select>
            <input type="hidden" name="paged" value="1" />
          </form>
        </div>

        <div class="proucts-shop">
          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>

          <div class="product-card">
            <a href="#">
              <img
                src="../static/images/products-img/2.png"
                alt="Wait please"
              />
            </a>
            <div class="info-product-shop">
              <h2 class="product-name">La Fleur Lily semi-sweet white</h2>
              <p class="product-category">Wine</p>
              <p class="product-price">$15.00</p>
              <div class="review">
                <p>stars</p>
                <div class="stars-img">
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                  <img src="../static/images/site-img/star-photo-review.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'base/footer.html' %}
  </body>
</html>
